<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ID Card</title>
    <style>
      body, div {
        padding:0;
        margin:0;
      }
      /*#card {
      margin-top: 100px;
      margin-left: 10px;
      padding: 0px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      }*/
      #name, #barcode, #barcodeNo {
        margin: 5px;
        padding: 0;
      }

    </style>
  </head>
  <body>
    <div id="card">
      <div id="name">
        {{name.givenName}} {{name.familyName}}
      </div>
      <div id="barcode">
        <barcode code="{{externalId}}" type="C39"/> 
      </div>
      <div id="barcodeNo">
        {{externalId}}
      </div>
    </div>
<!--    <div id="logo">
      <img src="{{image}}" width="80mm" height="50mm" />
    </div>-->
  </body>
</html>