<div id="ncipData">
  <div class="divTable minimalistBlack">
    <div class="divTableBody">
      <div class="divTableRow">
        <div class="labelC">{{UserId[0].UserIdentifierType[0]}}</div>
        <div class="valueC">{{UserId[0].UserIdentifierValue[0]}}</div>
      </div>

      <div class="divTableRow">
        <div class="labelC">Uitleningen:</div>
        <div class="valueC">
          {% for item in LoanedItemsCount %}
          <div class="divTableRow">
            <div class="valueC">{{item.CirculationStatus[0]}}</div>
            <div class="valueC">{{item.LoanedItemCountValue[0]}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% for item in LoanedItem %}
      <div class="divTableRow">
        <div class="labelC">Item:</div>
        <div class="valueC">
          <div class="divTableRow">
            <div class="labelC">Item ID:</div>
            <div class="valueC">{{item.ItemId[0].ItemIdentifierValue[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">ReminderLevel:</div>
            <div class="valueC">{{item.ReminderLevel[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">DateCheckedOut:</div>
            <div class="valueC">{{item.Ext[0].DateCheckedOut[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">DateDue:</div>
            <div class="valueC">{{item.DateDue[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Amount:</div>
            <div class="valueC">{{item.Amount[0].MonetaryValue[0]}} {{item.Amount[0].CurrencyCode[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">MediumType:</div>
            <div class="valueC">{{item.MediumType[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">RenewalCount:</div>
            <div class="valueC">{{item.Ext[0].RenewalCount[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">OCN:</div>
            <div class="valueC">{{item.Ext[0].BibliographicDescription[0].BibliographicRecordId[0].BibliographicRecordIdentifier[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Author:</div>
            <div class="valueC">{{item.Ext[0].BibliographicDescription[0].Author[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Title</div>
            <div class="valueC">{{item.Ext[0].BibliographicDescription[0].Title[0]}}</div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="divTableRow">
        <div class="labelC">Aanvragen:</div>
        <div class="valueC">
          {% for item in RequestedItemsCount %}
          <div class="divTableRow">
            <div class="valueC">{{item.CirculationStatus[0]}}</div>
            <div class="valueC">{{item.RequestedItemCountValue[0]}}</div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% for item in RequestedItem %}
      <div class="divTableRow">
        <div class="labelC">Item:</div>
        <div class="valueC">
          <div class="divTableRow">
            <div class="labelC">Request ID:</div>
            <div class="valueC">{{item.RequestId[0].RequestIdentifierValue[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Item ID:</div>
            <div class="valueC">{{item.ItemId[0].ItemIdentifierValue[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Type:</div>
            <div class="valueC">{{item.RequestType[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">RequestStatusType:</div>
            <div class="valueC">{{item.RequestStatusType[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">DatePlaced:</div>
            <div class="valueC">{{item.DatePlaced[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Title:</div>
            <div class="valueC">{{item.Title[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">MediumType:</div>
            <div class="valueC">{{item.MediumType[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">Author:</div>
            <div class="valueC">{{item.Ext[0].BibliographicDescription[0].Author[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">OCN:</div>
            <div class="valueC">{{item.Ext[0].BibliographicDescription[0].BibliographicRecordId[0].BibliographicRecordIdentifier[0]}}</div>
          </div>
          <div class="divTableRow">
            <div class="labelC">EarliestDateNeeded</div>
            <div class="valueC">{{item.Ext[0].EarliestDateNeeded[0]}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>