    <div class="divTable minimalistBlack">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="label">Resource no.:</div>
          <div class="value">{{teller}}</div>
        </div>
        <div class="divTableRow">
          <div class="label">Last name:</div>
          <div class="value">{{name.familyName}}</div>
        </div>
        <div class="divTableRow">
          <div class="label">First name:</div>
          <div class="value">{{name.givenName}}</div>
        </div>
        <div class="divTableRow">
          <div class="label">Barcode:</div>
          <div class="value">{{externalId}}</div>
        </div>
        <div class="divTableRow">
          <div class="label">Email:</div>
          <div class="value">{{emails[0].value}}</div>
        </div>
        <div class="divTableRow">
          <div class="label">Adress</div>
          <div class="value">
            {{addresses[0].streetAddress}}<br/>
            {{addresses[0].locality}}<br/>
            {{addresses[0].postalCode}}<br/>
            {{addresses[0].region}}<br/>
            {{addresses[0].country}}
          </div>
        </div>
      </div>
    </div>
