<div id="patronData">
	<div class="divTable minimalistBlack">
		<div class="divTableBody">
			<div class="divTableRow">
				<div class="labelC">Last name:</div>
				<div class="valueC">{{name.familyName}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">First name:</div>
				<div class="valueC">{{name.givenName}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">Barcode:</div>
				<div class="valueC">{{externalId}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">Id:</div>
				<div class="valueC">{{id}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">EIDM:</div>
				<div class="valueC">{{oclcPPID}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">Email:</div>
				<div class="valueC">{{emails[0].value}}</div>
			</div>
			<div class="divTableRow">
				<div class="labelC">Adress</div>
				<div class="valueC">
					{{addresses[0].streetAddress}}<br/>
					{{addresses[0].locality}}<br/>
					{{addresses[0].region}}<br/>
					{{addresses[0].postalCode}}<br/>
					{{addresses[0].country}}
				</div>
			</div>
		</div>
	</div>
</div>